<a href="https://colab.research.google.com/github/tirals88/DL_for_everyone/blob/main/deeplearning/notebook/17%EC%9E%A5%20RNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

'모두의 딥러닝' 책 스터디 내용을 jupyter notebook으로 정리하여 올립니다.

Github 주소 : 'https://github.com/gilbutITbook/080228'

**모두의 딥러닝**

# 17 장 순환 신경망 RNN

문장의 학습 : 이전까지 학습했던 내용들과는 다르게 문장은 여러 개의 단어가 **정해진 순서대로 입력**되어야 한다.</br>다시 말해, 과거에 입력된 데이터와 나중에 입력된 데이터 사이의 관계를 고려해야 하는 문제가 생긴다.

이러한 유기성을 해결하기 위해 **순환 싱경망(Recurrent Neural Network, RNN)** 방법이 고안되었다.

순환 신경망은 여러 개의 데이터가 순서대로 입력되었을 때, 앞서 입력받은 데이터를 잠시 기억해 놓는 방법이다.

그리고 기억된 데이터가 얼마나 중요한지를 판단하여 별도의 가중치를 줘서 다음 데이터로 넘어간다.

## Long Short Term Memory (LSTM)

RNN이 처음 개발된 이후, RNN 결과를 개선하기 위해 발전된 방식들 중 LSTM이 널리 사용되었다.

이는 한 층 안에서 반복을 많이 해야 하는 RNN 특성상 일반 신경망보다 기울기 소실 문제가 더 많이 발생하고, 이를 해결하기 어렵다는 단점을 보완한 방법이다.

즉, 반복되기 직전 다음 층으로 기억된 값을 넘길지 안 넘길지를 관리하는 단계를 하나 더 추가하는 것이다.


RNN 방식의 장점은 입력 값과 출력 값을 어떻게 설정하느냐에 따라 여러 가지 상황에서 적용할 수 있다.

1) 다수 입력 / 단일 출력 : 문장을 읽고 뜻을 파악

2) 단일 입력 / 다수 출력 : 사진 캡션 생성

3) 다수 입력 / 다수 출력 : 문장 번역

## LSTM 을 이용한 로이터 뉴스 카테고리 분류하기

keras에서 load_data()를 통하여 MNIST 데이터셋과 같이 RNN 학습에 적절한 텍스트 대용량 데이터 또한 받을 수 있다.

케라스가 제공하는 '로이터 뉴스 카테고리 분류'와 'IMDB 영화 리뷰'를 통해 RNN을 학습해 볼 것이다.

입력된 문장의 의미를 파악하는 것은 곧 모든 단어를 종합하여 하나의 카테고리로 분류하는 작업이라고 할 수 있다.

예를 들어, "안녕. 오늘 날씨가 참 좋네"라는 말은 '인사'카테고리에 분류해야 한다.

이러한 긴 텍스트를 읽고 이 데이터가 어떤 의미를 지니는지를 카테고리로 분류하는 연습을 할 것이다.

**로이터 뉴스 데이터는, 총 11,258개의 뉴스 기사가 46개의 카테고리로 나누어진 대용량 텍스트 데이터이다.**

In [6]:
#로이터 뉴스 데이터셋 불러오기
import numpy as np
from keras.datasets import reuters

#데이터 분리

(X_train, Y_train), (X_test, Y_test) = reuters.load_data(num_words=1000, test_split=.2)

#데이터 확인
category = np.max(Y_train) + 1
print(category, '카테고리')
print(len(X_train), '학습용 뉴스 기사')
print(len(X_test), '테스트용 뉴스 기사')
print(X_train[0])

46 카테고리
8982 학습용 뉴스 기사
2246 테스트용 뉴스 기사
[1, 2, 2, 8, 43, 10, 447, 5, 25, 207, 270, 5, 2, 111, 16, 369, 186, 90, 67, 7, 89, 5, 19, 102, 6, 19, 124, 15, 90, 67, 84, 22, 482, 26, 7, 48, 4, 49, 8, 864, 39, 209, 154, 6, 151, 6, 83, 11, 15, 22, 155, 11, 15, 7, 48, 9, 2, 2, 504, 6, 258, 6, 272, 11, 15, 22, 134, 44, 11, 15, 16, 8, 197, 2, 90, 67, 52, 29, 209, 30, 32, 132, 6, 109, 15, 17, 12]

In [45]:
print(X_train[:20])
print(Y_train[:30])

[list([1, 2, 2, 8, 43, 10, 447, 5, 25, 207, 270, 5, 2, 111, 16, 369, 186, 90, 67, 7, 89, 5, 19, 102, 6, 19, 124, 15, 90, 67, 84, 22, 482, 26, 7, 48, 4, 49, 8, 864, 39, 209, 154, 6, 151, 6, 83, 11, 15, 22, 155, 11, 15, 7, 48, 9, 2, 2, 504, 6, 258, 6, 272, 11, 15, 22, 134, 44, 11, 15, 16, 8, 197, 2, 90, 67, 52, 29, 209, 30, 32, 132, 6, 109, 15, 17, 12])
 list([1, 2, 699, 2, 2, 56, 2, 2, 9, 56, 2, 2, 81, 5, 2, 57, 366, 737, 132, 20, 2, 7, 2, 49, 2, 2, 2, 2, 699, 2, 8, 7, 10, 241, 16, 855, 129, 231, 783, 5, 4, 587, 2, 2, 2, 775, 7, 48, 34, 191, 44, 35, 2, 505, 17, 12])
 list([1, 53, 12, 284, 15, 14, 272, 26, 53, 959, 32, 818, 15, 14, 272, 26, 39, 684, 70, 11, 14, 12, 2, 18, 180, 183, 187, 70, 11, 14, 102, 32, 11, 29, 53, 44, 704, 15, 14, 19, 758, 15, 53, 959, 47, 2, 15, 14, 19, 132, 15, 39, 965, 32, 11, 14, 147, 72, 11, 180, 183, 187, 44, 11, 14, 102, 19, 11, 123, 186, 90, 67, 960, 4, 78, 13, 68, 467, 511, 110, 59, 89, 90, 67, 2, 55, 2, 92, 617, 80, 2, 46, 905, 220, 13, 4, 346, 48, 235, 629, 5, 211, 5, 2, 7, 2, 81, 5, 187, 11, 15, 9, 2, 201, 5, 47, 2, 18, 478, 2, 5, 2, 7, 232, 2, 71, 5, 160, 63, 11, 9, 2, 81, 5, 102, 59, 11, 17, 12])
 list([1, 4, 686, 867, 558, 4, 37, 38, 309, 2, 465, 893, 2, 114, 2, 69, 312, 35, 15, 7, 335, 2, 21, 25, 2, 2, 2, 58, 69, 68, 493, 5, 25, 465, 377, 2, 4, 293, 2, 739, 2, 8, 7, 2, 2, 13, 899, 6, 4, 990, 309, 415, 2, 2, 645, 2, 791, 5, 2, 75, 8, 24, 10, 2, 2, 5, 344, 756, 7, 2, 231, 2, 2, 2, 43, 509, 43, 68, 327, 5, 2, 2, 297, 638, 73, 430, 22, 4, 580, 7, 48, 41, 30, 2, 136, 4, 344, 298, 4, 580, 40, 344, 2, 2, 291, 2, 10, 2, 5, 231, 2, 2, 5, 2, 2, 21, 2, 2, 990, 309, 415, 265, 2, 2, 2, 2, 2, 4, 344, 2, 756, 2, 2, 2, 2, 2, 28, 10, 2, 24, 77, 41, 682, 10, 2, 2, 7, 4, 2, 2, 2, 22, 370, 2, 2, 5, 54, 2, 2, 2, 10, 2, 946, 60, 51, 2, 2, 4, 73, 2, 669, 4, 580, 64, 10, 2, 6, 2, 25, 482, 35, 150, 377, 2, 7, 10, 2, 836, 2, 2, 2, 5, 2, 2, 2, 2, 8, 4, 344, 291, 2, 298, 2, 6, 2, 24, 2, 41, 343, 430, 210, 6, 2, 297, 64, 10, 2, 455, 5, 2, 125, 222, 17, 12])
 list([1, 2, 111, 8, 25, 166, 40, 638, 10, 436, 22, 265, 9, 621, 575, 2, 2, 2, 2, 6, 438, 2, 13, 102, 388, 15, 90, 67, 7, 197, 2, 8, 4, 270, 416, 23, 527, 6, 2, 2, 4, 2, 742, 16, 8, 36, 2, 6, 2, 100, 543, 5, 645, 362, 6, 2, 4, 49, 8, 2, 976, 124, 20, 5, 2, 80, 9, 100, 362, 543, 395, 61, 44, 20, 2, 8, 16, 40, 2, 42, 2, 166, 415, 6, 888, 4, 116, 9, 40, 2, 4, 303, 163, 16, 64, 772, 13, 94, 156, 17, 12])
 list([1, 4, 37, 38, 309, 213, 349, 2, 48, 193, 229, 463, 28, 156, 635, 11, 82, 14, 156, 635, 11, 82, 54, 139, 16, 349, 105, 462, 311, 28, 296, 147, 11, 82, 14, 296, 147, 11, 54, 139, 342, 48, 193, 2, 361, 122, 23, 2, 28, 318, 942, 11, 82, 14, 318, 942, 11, 82, 54, 139, 122, 7, 105, 462, 23, 349, 28, 296, 767, 11, 82, 14, 296, 767, 11, 54, 139, 342, 229, 162, 7, 48, 193, 55, 408, 28, 258, 557, 11, 82, 14, 196, 557, 11, 82, 54, 139, 162, 7, 105, 462, 55, 349, 28, 191, 968, 11, 82, 14, 191, 785, 11, 54, 139, 17, 12])
 list([1, 56, 2, 925, 149, 8, 16, 23, 931, 2, 25, 116, 5, 165, 15, 10, 67, 13, 12, 12, 11, 2, 400, 81, 79, 457, 145, 22, 331, 28, 2, 331, 61, 2, 2, 2, 79, 64, 85, 2, 84, 22, 44, 2, 2, 79, 296, 2, 157, 2, 8, 16, 23, 2, 4, 116, 6, 837, 2, 6, 2, 31, 248, 2, 2, 4, 2, 5, 37, 38, 2, 27, 358, 37, 38, 2, 9, 6, 2, 4, 316, 9, 662, 5, 4, 765, 5, 291, 58, 60, 2, 2, 136, 4, 384, 292, 270, 120, 17, 12])
 list([1, 53, 648, 26, 14, 749, 26, 39, 2, 2, 14, 2, 2, 86, 147, 72, 11, 14, 321, 61, 11, 29, 53, 19, 965, 150, 14, 19, 492, 150, 39, 12, 2, 2, 14, 32, 2, 2, 86, 251, 59, 11, 14, 193, 47, 11, 123, 48, 2, 346, 9, 29, 39, 235, 338, 46, 5, 2, 323, 5, 187, 2, 15, 9, 2, 2, 15, 58, 191, 26, 90, 67, 773, 105, 2, 346, 9, 29, 39, 235, 46, 7, 2, 304, 5, 2, 2, 15, 9, 2, 2, 15, 58, 158, 26, 90, 67, 773, 17, 12])
 list([1, 178, 53, 321, 26, 14, 948, 26, 178, 39, 44, 2, 2, 14, 191, 59, 11, 86, 539, 63, 11, 14, 892, 61, 11, 123, 197, 2, 258, 44, 11, 15, 58, 462, 26, 53, 14, 597, 61, 11, 15, 58, 19, 942, 15, 53, 105, 39, 633, 472, 927, 53, 46, 22, 710, 220, 851, 2, 9, 2, 282, 5, 317, 65, 9, 659, 249, 2, 196, 47, 11, 428, 410, 61, 59, 20, 22, 10, 29, 254, 17, 12])
 list([1, 56, 2, 81, 40, 2, 174, 2, 6, 2, 10, 266, 2, 5, 2, 799, 317, 65, 136, 277, 801, 7, 429, 65, 182, 199, 8, 174, 201, 2, 10, 2, 5, 401, 20, 2, 799, 6, 119, 20, 2, 2, 136, 10, 277, 498, 120, 31, 2, 13, 251, 18, 428, 90, 289, 4, 199, 8, 4, 2, 2, 23, 124, 20, 799, 317, 6, 482, 20, 2, 174, 287, 13, 799, 317, 65, 40, 333, 2, 224, 4, 137, 130, 2, 356, 2, 2, 172, 4, 2, 2, 403, 54, 139, 2, 692, 31, 2, 5, 799, 2, 9, 2, 2, 17, 12])
 list([1, 245, 273, 207, 156, 53, 74, 160, 26, 14, 46, 296, 26, 39, 74, 2, 2, 14, 46, 2, 2, 86, 61, 2, 2, 14, 61, 451, 2, 17, 12])
 list([1, 56, 141, 2, 2, 149, 8, 16, 33, 223, 231, 336, 7, 37, 38, 459, 2, 97, 916, 2, 22, 2, 19, 89, 16, 8, 4, 455, 33, 45, 30, 2, 2, 6, 255, 231, 2, 4, 49, 8, 43, 10, 447, 5, 329, 2, 307, 5, 25, 280, 189, 55, 2, 7, 4, 214, 212, 17, 12])
 list([1, 2, 81, 8, 16, 625, 42, 120, 7, 2, 2, 4, 270, 5, 4, 49, 27, 2, 381, 2, 231, 81, 4, 120, 2, 13, 2, 6, 343, 10, 2, 334, 116, 13, 137, 5, 25, 335, 80, 28, 10, 96, 5, 272, 15, 90, 67, 7, 197, 2, 2, 7, 2, 2, 2, 2, 9, 2, 573, 2, 2, 75, 8, 17, 12])
 list([1, 248, 409, 166, 2, 2, 2, 8, 4, 495, 298, 114, 30, 2, 27, 2, 2, 5, 231, 469, 641, 201, 2, 7, 714, 849, 495, 703, 573, 2, 9, 221, 7, 10, 2, 2, 13, 899, 7, 73, 418, 6, 4, 60, 9, 231, 2, 491, 2, 8, 268, 902, 24, 333, 2, 2, 2, 9, 542, 2, 23, 4, 811, 6, 2, 4, 234, 495, 298, 36, 8, 36, 2, 4, 2, 5, 231, 469, 641, 201, 2, 27, 4, 491, 5, 60, 641, 201, 7, 50, 2, 5, 2, 60, 2, 703, 205, 221, 9, 573, 2, 2, 41, 30, 2, 21, 2, 2, 2, 41, 30, 2, 21, 4, 2, 5, 291, 27, 4, 60, 6, 4, 2, 2, 9, 137, 2, 41, 57, 6, 30, 21, 42, 2, 2, 503, 2, 8, 578, 41, 30, 2, 6, 2, 2, 5, 4, 2, 619, 636, 27, 269, 641, 201, 58, 2, 2, 8, 36, 41, 2, 4, 641, 49, 6, 2, 43, 10, 2, 5, 2, 6, 4, 60, 27, 532, 10, 2, 6, 2, 4, 797, 244, 7, 100, 2, 4, 60, 41, 45, 30, 2, 6, 2, 43, 295, 43, 4, 641, 49, 40, 10, 2, 39, 687, 2, 75, 8, 577, 2, 209, 30, 2, 6, 595, 10, 231, 469, 641, 49, 931, 31, 4, 920, 24, 244, 41, 2, 6, 4, 231, 2, 107, 2, 2, 8, 4, 2, 5, 405, 2, 41, 30, 171, 24, 55, 28, 602, 43, 470, 43, 4, 2, 641, 476, 7, 50, 2, 695, 62, 2, 184, 194, 2, 6, 2, 4, 60, 34, 2, 269, 2, 41, 658, 2, 6, 232, 9, 141, 231, 469, 6, 2, 2, 4, 214, 212, 2, 8, 24, 41, 2, 4, 2, 433, 5, 2, 171, 7, 4, 169, 231, 2, 2, 41, 30, 2, 27, 2, 476, 6, 832, 95, 2, 17, 12])
 list([1, 4, 113, 23, 133, 6, 433, 226, 7, 2, 407, 43, 2, 2, 69, 4, 2, 5, 54, 2, 521, 562, 6, 2, 227, 108, 140, 645, 127, 108, 368, 8, 480, 25, 302, 145, 6, 10, 146, 2, 279, 243, 368, 8, 77, 680, 4, 113, 6, 2, 10, 73, 238, 715, 5, 2, 6, 649, 243, 254, 4, 76, 931, 2, 6, 2, 16, 233, 2, 4, 738, 113, 302, 2, 4, 2, 24, 54, 2, 562, 34, 129, 2, 944, 6, 2, 2, 2, 4, 113, 233, 4, 368, 8, 4, 329, 2, 27, 37, 38, 431, 484, 884, 568, 24, 4, 521, 562, 299, 45, 306, 194, 572, 2, 13, 181, 689, 40, 2, 10, 2, 21, 4, 120, 8, 2, 2, 293, 937, 5, 2, 60, 2, 431, 707, 36, 8, 4, 76, 2, 52, 43, 2, 4, 37, 38, 41, 2, 10, 2, 113, 9, 16, 64, 736, 2, 5, 2, 6, 458, 4, 227, 52, 2, 4, 2, 76, 2, 112, 477, 656, 204, 60, 453, 2, 8, 368, 8, 4, 113, 64, 2, 2, 2, 2, 9, 24, 60, 5, 130, 453, 2, 114, 2, 2, 10, 226, 2, 7, 4, 227, 77, 8, 4, 204, 60, 421, 164, 68, 6, 19, 44, 35, 15, 145, 348, 2, 766, 250, 2, 9, 331, 16, 461, 57, 421, 10, 808, 513, 5, 915, 250, 4, 37, 38, 204, 60, 7, 73, 418, 307, 368, 8, 77, 2, 4, 37, 38, 248, 409, 41, 2, 21, 25, 595, 485, 6, 458, 4, 113, 51, 126, 8, 52, 461, 2, 107, 4, 113, 202, 389, 420, 2, 243, 107, 4, 113, 2, 6, 24, 456, 320, 16, 114, 501, 4, 2, 5, 127, 244, 172, 37, 38, 221, 50, 4, 2, 949, 853, 8, 2, 2, 621, 239, 76, 937, 5, 2, 752, 9, 495, 81, 36, 8, 4, 113, 91, 810, 6, 228, 2, 243, 225, 139, 185, 2, 501, 125, 113, 88, 92, 77, 525, 125, 2, 13, 4, 48, 193, 218, 29, 798, 21, 94, 156, 51, 368, 8, 4, 2, 277, 2, 13, 4, 113, 2, 2, 52, 34, 208, 6, 4, 2, 2, 5, 4, 37, 38, 308, 4, 905, 37, 38, 66, 253, 9, 174, 2, 7, 2, 42, 168, 2, 2, 4, 2, 55, 2, 2, 28, 603, 2, 7, 2, 25, 308, 8, 2, 2, 2, 293, 937, 5, 2, 2, 2, 60, 2, 141, 431, 707, 7, 4, 521, 227, 562, 130, 2, 10, 2, 5, 168, 578, 92, 4, 383, 89, 386, 34, 2, 6, 842, 260, 287, 148, 203, 9, 2, 501, 25, 66, 288, 4, 2, 34, 133, 7, 93, 51, 2, 21, 4, 386, 40, 85, 2, 27, 42, 2, 2, 5, 2, 218, 117, 4, 344, 2, 5, 10, 88, 131, 7, 4, 2, 4, 106, 64, 210, 10, 2, 2, 5, 814, 10, 2, 168, 2, 7, 4, 757, 481, 2, 2, 2, 2, 8, 368, 8, 107, 2, 55, 45, 737, 6, 2, 4, 174, 308, 2, 2, 7, 4, 37, 38, 706, 41, 2, 9, 592, 95, 2, 694, 21, 4, 113, 17, 12])
 list([1, 577, 9, 355, 430, 21, 4, 2, 5, 4, 83, 181, 73, 418, 171, 2, 2, 202, 2, 11, 15, 6, 750, 2, 35, 7, 4, 121, 273, 94, 160, 4, 248, 409, 60, 5, 73, 418, 8, 348, 2, 430, 202, 2, 11, 15, 6, 566, 158, 35, 577, 910, 335, 2, 333, 32, 2, 35, 15, 6, 2, 557, 35, 232, 218, 377, 563, 55, 772, 6, 30, 2, 21, 712, 17, 12])
 list([1, 945, 65, 111, 8, 10, 498, 40, 85, 2, 6, 56, 2, 2, 71, 13, 10, 2, 9, 122, 2, 6, 30, 2, 7, 2, 60, 2, 2, 7, 4, 403, 5, 2, 696, 945, 9, 2, 81, 366, 595, 10, 279, 20, 128, 945, 8, 25, 945, 65, 122, 111, 323, 33, 2, 4, 2, 50, 23, 370, 2, 6, 2, 102, 18, 428, 5, 65, 9, 132, 11, 2, 983, 5, 249, 718, 4, 2, 23, 189, 133, 6, 30, 2, 7, 4, 2, 5, 448, 100, 2, 55, 2, 2, 81, 56, 2, 31, 158, 865, 20, 9, 56, 2, 703, 111, 5, 925, 31, 12, 492, 20, 17, 12])
 list([1, 486, 341, 785, 26, 14, 482, 26, 255, 606, 252, 83, 146, 91, 102, 17, 12])
 list([1, 53, 19, 296, 15, 14, 258, 26, 53, 959, 19, 160, 15, 14, 258, 26, 39, 160, 72, 11, 14, 19, 2, 18, 86, 2, 12, 11, 14, 684, 19, 11, 123, 48, 39, 235, 864, 728, 63, 445, 18, 15, 22, 848, 9, 282, 9, 2, 5, 456, 2, 280, 9, 864, 276, 119, 63, 11, 15, 22, 211, 5, 2, 2, 323, 395, 12, 698, 18, 15, 5, 276, 22, 4, 2, 2, 211, 33, 30, 2, 7, 89, 107, 2, 2, 2, 2, 374, 336, 17, 12])
 list([1, 2, 851, 260, 542, 159, 13, 52, 29, 23, 328, 6, 30, 164, 70, 44, 9, 19, 44, 20, 2, 2, 985, 5, 4, 2, 179, 869, 13, 168, 903, 2, 8, 52, 217, 31, 10, 78, 20, 159, 408, 170, 27, 4, 2, 54, 207, 2, 170, 4, 408, 28, 10, 163, 145, 21, 2, 168, 2, 75, 2, 27, 2, 2, 2, 313, 262, 2, 2, 9, 232, 60, 195, 2, 2, 17, 12])]
[ 3  4  3  4  4  4  4  3  3 16  3  3  4  4 19  8 16  3  3 21 11  4  4  3
  3  1  3  1  3 16]

In [40]:
#히스토그램이 균등하게 나오지 않는 것이 확인된다.
x = np.arange(0, 46, 1)
hist1, bins = np.histogram(weight1, x)
hist2, bins = np.histogram(weight2, x)

print(hist1)
print(hist2)

[  55  432   74 3159 1949   17   48   16  139  101  124  390   49  172
   26   20  444   39   66  549  269  100   15   41   62   92   24   15
   48   19   45   39   32   11   50   10   49   19   19   24   36   30
   13   21   30]
[ 12 105  20 813 474   5  14   3  38  25  30  83  13  37   2   9  99  12
  20 133  70  27   7  12  19  31   8   4  10   4  12  13  10   5   7   6
  11   2   3   5  10   8   3   6   6]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45]

그리고 학습 데이터를 보면 숫자 배열인 것이 확인 되는데 이 숫자는 데이터 안에서 해당 단어가 몇 번이나 나타나는지 세어 빈도에 따라 번호를 붙인 것이다.

1, 2, 2, 8, ... 의 1은 아마 'A', 'The' 즘 되지 않을까 싶다. 그렇지만 2가 두 번 연속 나오는 것에 대해서는 중복된 단어라기 보다는 빈도수가 같은 단어라고 생각이 든다.